


/*
    переработанный базовый css от https://unpkg.com/@atlaskit/css-reset@2.0.0/dist/bundle.css
*/




@body-bg: #FFF;
@text-color: #172B4D;
@well-bg: #fcfcfc;
@well-border: #454e75;

@font-family-sans-serif: inherit;
@font-family-serif: inherit;
@tabs-bg:  lighten(fade(@body-bg, 80%), 2%);
@border-radius-large: 5px;
@border-radius-base: 3px;
@border-radius-small: 2px;

@brand-primary: #0052CC;
@brand-warning: #FFAB00;
@brand-success: #36B37E;
@brand-danger: #FF5630;
@brand-info: #6554C0;

@state-success-text: darken(@brand-success, 5%);
@state-success-bg: @brand-success;

@state-info-text: darken(@brand-info, 5%);


@dropdown-link-active-bg: @brand-primary;
@tooltip-bg: #091E42;
@popover-bg: @tooltip-bg;
@popover-title-bg: @tooltip-bg;
@popover-border-color: @tooltip-bg;

@btn-warning-bg: rgb(255, 171, 0);
@btn-warning-color: rgb(23, 43, 77);
@btn-danger-bg: rgb(222, 53, 11);

@panel-info-heading-bg: #6554C0;
@panel-info-border: #6554C0;
@panel-info-text: contrast(@panel-info-heading-bg);

@alert-danger-bg: rgb(255, 235, 230);
@alert-danger-border: @alert-danger-bg;
@alert-danger-text: rgb(23, 43, 77);

@alert-warning-bg: rgb(255, 250, 230);
@alert-warning-border: @alert-warning-bg;
@alert-warning-text: rgb(23, 43, 77);

@alert-info-bg: rgb(222, 235, 255);
@alert-info-border: @alert-info-bg;
@alert-info-text: rgb(23, 43, 77);

@alert-success-bg: rgb(227, 252, 239);
@alert-success-border: @alert-success-bg;
@alert-success-text: rgb(23, 43, 77);


@nav-tabs-active-link-hover-border-color: #4c9aff;
@navbar-inverse-bg: lighten(black, 20%);
@navbar-inverse-color: white;


@a-sidebar-admin-bg-color: #0052CC;
@a-sidebar-admin-color: white;


@-moz-document url-prefix() {
    img {
        font-size: 0;
    }
    img:-moz-broken {
        font-size: inherit;
    }
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-decoration-skip: ink;
}

a {
    text-decoration: none;
    &:hover{
        color: #0065FF;
        text-decoration: underline;
    }
    &:active{
        color: #0747A6;
    }
}


code,
kbd {
    font-family: "SFMono-Medium", "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;
}
var,
address,
dfn,
cite {
    font-style: italic;
}
abbr {
    border-bottom: 1px #ccc dotted;
    cursor: help;
}

.fa{
    padding-right: 3px;
}

.popover-content{
    color: white;
    padding: 3px 5px;
}
.popover{
    opacity: 0.9;
}

.help-block{
    color: grey;
}
.nav-tabs{
    & > li{
        & > a{
            color: #42526e;
            font-weight: 500;
            padding: 5px 10px;
            &:hover{
                color: darken(@brand-primary, 5%);
                background-color: #fafafa;
            }
        }
        &.active > a{
            color: @brand-primary;
        }
    }
}
.tab-content{
    .tab-pane{
        padding-left: @grid-gutter-width /2;
        padding-right: @grid-gutter-width /2;
        padding-top: @padding-small-vertical;
        padding-bottom: @padding-small-vertical;
        margin-bottom: @grid-gutter-width /2;
        border-left: 1px solid @nav-tabs-border-color;
        border-bottom: 1px solid @nav-tabs-border-color;
        border-right: 1px solid @nav-tabs-border-color;
        background-color: @tabs-bg;
        @media(max-width: @screen-xs){
            margin-left: -0.5* @grid-gutter-width;
            margin-right: -0.5* @grid-gutter-width;
        }
    }
}

.navbar-inverse{
    border-radius: 0;
}

.form-control{
    color: rgb(9, 30, 66);
    background-color: lighten(rgb(250, 251, 252), 2%);
    border: 2px solid #979eb0;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:hover{
        border-width: 2px;
        background-color: rgb(235, 236, 240);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &[disabled]{
        background-color: rgb(235, 236, 240);
    }
    &:not([disabled]){
        &:active, &:focus{
            border-color: rgb(76, 154, 255);
            background-color: rgb(255, 255, 255);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}
.form-group{
    label{
        color: #283347;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .help-block{
        font-weight: 400;
        font-style: normal;
        line-height: 16px;
        font-size: 12px;
    }
}

.checkbox, .radio{
    label{
        color: rgb(9, 30, 66);
        font-size: 14px;
        font-weight: normal;
        input[type="radio"], .radio input[type="radio"], .radio-inline input[type="radio"]{
            margin-bottom: -7px;
        }
    }
}

/*
    поддержка ckeditor4
*/
.cke_dialog{
    select.cke_dialog_ui_input_select, input.cke_dialog_ui_input_text{
        .form-control();
        .input-sm();
    }
    .cke_dialog_ui_button_ok, .cke_dialog_ui_button_cancel{
        span{
            font-weight: bold;
        }
    }
    .cke_dialog_ui_button_ok{
        .btn-primary();
        min-width: 5em;
    }
    .cke_dialog_ui_button_cancel{
        .btn-default();
    }
}


.btn{
    font-weight: 500;
}


.bg-primary, .dropdown-menu li.active > a{
    small{
        color: contrast(@brand-primary);
    }
}

.list-group-item-success{
    color: contrast(@brand-success);
}

.uib-datepicker-popup{
    .btn.btn-info.active{
        .text-info{
            color: white;
            font-weight: bold;
        }
    }
}

.panel {
    table:not(.table){
        background: transparent;
    }
}

.ui-notification{
    padding-left: 22px !important;
    border-radius: @border-radius-base !important;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 20px 32px -8px !important;
    &::before{
        display: inline-block;
        font: normal normal normal 14px/1 'Font Awesome 5 Free';
        font-size: inherit;
        font-weight: 900;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 14px;
        left: 10px;
    }
    &.error{
        //background: rgb(222, 53, 11) !important;
        //color: white !important;
        background: @btn-danger-bg !important;
        color: @btn-danger-color !important;
        &::before{
            //fa-exclamation-triangle
            content: "\f071";
        }
    }
    &.warning{
        background: @btn-warning-bg !important;
        color: @btn-warning-color !important;
        //background: @btn-warning-bg !important;
        //color: @btn-warning-color !important;
        &::before{
            //fa-exclamation-triangle
            content: "\f071";
        }
    }
    &.info{
        background: @btn-info-bg !important;
        color: @btn-info-color !important;
        &::before{
            //fa-info-circle
            content: "\f05a";
            padding-left: 1px;
        }
    }
    &.success{
        background: @btn-success-bg !important;
        color: @btn-success-color !important;
        &::before{
            //fa-info-check
            content: "\f058";
            padding-left: 1px;
        }
    }
}


/*
    ui.cms
*/

uic-datepicker-input .uib-datepicker-popup.dropdown-menu{
    .btn{
        border-radius: 99px;
        &:not([disabled]):hover{
            background-color: rgb(0, 101, 255);
            color: white;
        }
    }
}
.form-inline {
    .form-group > label{
        margin-right: 7px;
    }
}
uice-table-view{
    uice-no-items{
        .fa-info-circle, .fa-frown {
            color: lightgrey;
            text-shadow: 0 0 10px #0006;
        }
        h3{
            color: white;
            text-shadow: 0 0 10px #0006;
        }
    }
}
.ag-overlay-panel{
    uice-no-items{
        .fa-info-circle, .fa-frown {
            color: #3a3a3a;
            text-shadow: 0 0 10px lightgrey;
        }
        h3{
            color: #363636;
            text-shadow: 0 0 10px white;
        }
    }
}

.a-sidebar-admin{
    .list-group-item{
        border-radius: 0 !important;
    }
}
