lw-cards{
    display: block;
}

lw-carousel{
    display: block;
    overflow: hidden;
    .item[uib-slide]{
        overflow: hidden;
    }
    .lw-carousel-slide-content{
        // зарезервированное место под картинку сделано по мотивам
        // класса embed-responsive в
        //  bootstrap/less/responsive-embed.less
        display: block;
        position: relative;
        height: 0;
        padding: 0;
        overflow: hidden;
        background-size: cover;
        & > img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            background-image: cover;
        }
        a{
            color: inherit;
        }
    }
    &.vertical{
        .carousel-inner {
            height: 100%;
        }
        .carousel {
            .item[uib-slide] {
                -webkit-transition: 0.6s ease-in-out top;
                -moz-transition: 0.6s ease-in-out top;
                -ms-transition: 0.6s ease-in-out top;
                -o-transition: 0.6s ease-in-out top;
                transition: 0.6s ease-in-out top;
                left: 0;
            }
            .active[uib-slide] {
                top: 0;
            }
            .next {
                top: 100%;
            }
            .prev {
                top: -100%;
            }
            .next.left {
                top: 0;
            }
            .prev.right {
                top: 0;
            }
            .active.left {
                top: -100%;
            }
            .active.right {
                top: 100%;
            }
        }
    }
    &.no-controls{
        .carousel-control{
            &.left, &.right{
                display: none;
            }
        }
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

lw-filter-clear-view{
    display: block;
}

lw-filter-edit-view{
    display: block;
}

._lw-gallery-thumbs() {
    .lw-gallery-thumbnails-wrapper {
        width: 400px;
        height: 70px;
        text-align: center;
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        visibility: hidden;
        @media(max-width: @screen-xs) {
            bottom:10px;
        }
        .lw-gallery-thumbnails {
            width: 4000px;
            height: 70px;
            .lw-gallery-thumbnail {
                width: auto;
                height: 70px;
                width: 70px;
                float: left;
                margin: 0px 5px;
                cursor: pointer;
                opacity: 0.6;
                border-radius: 2px;
                &:hover,
                &:active {
                    transition: opacity 0.25s ease;
                    opacity: 1;
                }
            }
        }
    }
}

lw-gallery {
    display: block;
    ._lw-gallery-thumbs();
    .visible {
        visibility: visible !important;
    }
    .thumbnail {
        position: relative;
        cursor: pointer;
        .fa-search-plus {
            position: absolute;
            top: 50%;
            font-size: 3em;
            margin-top: -0.5em;
            left: 50%;
            margin-left: -0.5em;
            display: none;
            color: white;
            cursor: pointer;
        }
        &:hover {
            .fa-search-plus {
                display: block;
                z-index: 1;
            }
            img {
                filter: brightness(0.8);
                -webkit-filter: brightness(0.8);
            }
        }
    }

    .preview-slider {
        .preview-slider-placeholder {
            height: 500px;
            overflow: hidden;
            .img-bg {
                height: inherit;
                width: inherit;
                background: transparent url(none) no-repeat center center / cover;
                cursor: pointer;
            }
            img.img-bg {
                height: 100%;
                width: 100%;
                -moz-object-fit: cover;
                -webkit-object-fit: cover;
                object-fit: cover;
            }
        }
        .lw-gallery-thumbnails-wrapper {
            position: relative;
            margin-top: @grid-gutter-width;
            @media(max-width: @screen-xs) {
                margin-top: @grid-gutter-width * 2/3;
            }
        }
        @media(max-width: @screen-sm) {
            .lw-gallery-thumbnails-wrapper {
                width: 240px;
            }
        }
    }
    picture-copyright.img-bg-copyright{
        position: absolute;
        bottom: 3px;
        left: 4px;
        right: 4px;
        text-align: center;
    }
}

.lw-gallery-modal {
    .modal-dialog {
        margin: 0px;
        width: 100%;
        height: 100%;
        .modal-content {
            height: 100%;
            width: 100%;
            background: transparent;
            border: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
}

.lw-gallery-content {
    height: 100%;
    width: 100%;
    ._lw-gallery-thumbs();
    .visible {
        visibility: visible !important;
    }
    .btn-close {
        font-size: 42px;
        float: right;
        color: #fff;
        border: 0;
        background: transparent;
        box-shadow: none;
        text-shadow: 0px 0px 4px black;
        z-index: 1060;
        text-decoration: none;
        margin: 0 30px 0 0;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 0;
    }
    .nav-left,
    .nav-right {
        color: #fff;
        text-shadow: 0px 0px 4px black;
        text-decoration: none;
        font-size: 60px;
        cursor: pointer;
        outline: none;
        z-index: 1060;
        background: transparent;
        border: 0;
        height: 50%;
    }
    .nav-left {
        position: fixed;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    .nav-right {
        position: fixed;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
    /*
    .lw-gallery-current-image {
        display: block;
        height: auto;
        max-height: calc(~"100% - 150px");
        max-width: calc(~"100% - 100px");
        border-radius: 2px;
        position: relative;
        display: block;
        margin: 0 auto 0 auto;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        cursor: pointer;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        @media(max-width: @screen-sm) {
            max-height: calc(~"100% - 15px");
            max-width: calc(~"100% - 10px");
        }
        @media(max-width: @screen-xs) {
            max-height: calc(~"100% - 5px");
            max-width: calc(~"100% - 10px");
        }
    }
    */
    & > table{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        picture{
            margin: 0px auto;
            display: block;
            position: relative;
            picture-copyright{
                position: absolute;
                top: 3px;
                left: 4px;
                right: 4px;
                text-align: center;
            }
        }
        img.lw-gallery-current-image{
            border-radius: 2px;
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
        }
        picture, img.lw-gallery-current-image{
            max-height: calc(~"100vh - 100px");
            max-width: calc(~"100% - 100px");
            height: auto;
            @media(max-width: @screen-sm) {
                max-height: calc(~"100% - 15px");
                max-width: calc(~"100% - 10px");
            }
            @media(max-width: @screen-xs) {
                max-height: calc(~"100% - 5px");
                max-width: calc(~"100% - 10px");
            }
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0.3;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0.3;
        }
    }
    img.ng-hide-active {
        animation: fadeOut 0.2s !important;
    }
    span.info-text {
        color: #fff;
        display: inline-block;
        width: 100%;
        height: 20px;
        font-weight: bold;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 100px;
    }
    /* Loading - from http://loading.io */
    uiload {
        display: inline-block;
        position: relative;
    }
    uiload>div {
        position: relative;
    }
    @-webkit-keyframes uil-ring-anim {
        0% {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-moz-keyframes uil-ring-anim {
        0% {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @-ms-keyframes uil-ring-anim {
        0% {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes uil-ring-anim {
        0% {
            -ms-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    .uil-ring-css {
        background: none;
        position: fixed;
        left: calc(~"50% - 40px");
        top: 40%;
        z-index: 2000;
    }
    .uil-ring-css>div {
        position: absolute;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        box-shadow: 0 6px 0 0 #fff;
        -ms-animation: uil-ring-anim 1s linear infinite;
        -moz-animation: uil-ring-anim 1s linear infinite;
        -webkit-animation: uil-ring-anim 1s linear infinite;
        -o-animation: uil-ring-anim 1s linear infinite;
        animation: uil-ring-anim 1s linear infinite;
    }
}

lw-legal-information-links{
    @bg: @brand-primary;
    @color: contrast(@bg);
    background: @bg;
    padding: @grid-gutter-width/6 0;
    display: none;

    &.visible{
        display: block;
    }
    a{
        color: @color;
        font-size: 11px;
    }
    .link-separator{
        &::after{
            content: '|';
            color: @color;
            padding: 0 5px;
        }
    }
}

lw-legal-information-request{
    display: block;
    .fas{
        padding-right: 3px;
    }
}

body > span{
    // какой-то баг с google-map. он добавляет этот тег в конец body,
    // и загаживает его свойствами, которые ломают выезжающий сайдбар
    display: none !important;
}
lw-map{
    display: block;
    position: relative;
    width: 100%;
    height: 30em;
    .gmap{
        background: fade(#EAEAEA, 30%);
        width: 100%;
        height: 100%;
        height: 30em;
        *{
            color: black;
            text-shadow: none;
        }
    }
    .gmap-static{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #EAEAEA;
        text-align: center;
        img{
            display: inline-block;
        }
        .caption{
            position: absolute;
            background: rgba(0,0,0,0.6);
            color: white;
            padding: 4px 8px;
            left: 0px;
            right: 0px;
            &.bottom{
                bottom: 0px;
            }
            &.top{
                top: 0px;
            }
            small{
                padding-right: 6px;
            }
            .marker{
                @size: 1.5em;
                display: inline-block;
                width: @size;
                height: @size;
                border-radius: @size/2;
                text-align: center;
                color: white;
                text-shadow: 1px 1px 0px black;
                box-shadow: 0px 0px 1px white;
                margin-right: 0.4em;
                b{
                    font-size: 1.1em;
                }
            }
        }
    }
}

@lwQuoteBubbleAvatarSize: 60px;
@lwQuoteBubbleTriangleRightPadding: 15px;


lw-quote-bubble{
    display: block;
    padding-bottom: @grid-gutter-width/2;

    ._quote-bubble-variant(@color){
        background-color: @color;
        border: 1px solid darken(@color, 10%);
        blockquote{
            color: contrast(@color);
            &, *{
                color: contrast(@color)
            }
        }
        &:before{
            border-color: darken(@color, 10%) transparent transparent transparent;
        }
        &:after{
            border-color: @color transparent transparent transparent;
        }
    }


    .quote-bubble{
        ._quote-bubble-variant(darken(@btn-default-bg, 5%));
        padding: @grid-gutter-width/2;
        border-radius: @grid-gutter-width/2;
        margin-bottom: @grid-gutter-width/2 - 1px;
        position: relative;
        blockquote{
            background: data-uri('./brand/quote.png') no-repeat 0 0;
            padding: @grid-gutter-width/4;
            padding-left: image-width('./brand/quote.png') + @grid-gutter-width/3;
            margin-bottom:  @grid-gutter-width/3;
            text-align: left;
            border-left-width: 0px;
            text-shadow: none !important;
        }
        &:before{
            @s: @grid-gutter-width/2;
            display: block;
            content: '';
            height: 0px;
            width: 0px;
            position: absolute;
            bottom: -1*@s;
            right: @s + @lwQuoteBubbleTriangleRightPadding;
            border-style: solid;
            border-width: @s @s 0px;
        }
        &:after{
            @s: @grid-gutter-width/2 - 1px;
            display: block;
            content: '';
            height: 0px;
            width: 0px;
            position: absolute;
            bottom: -1*@s;
            right: @s + 2px + @lwQuoteBubbleTriangleRightPadding;
            border-style: solid;
            border-width: @s @s 0px;
        }
    }

    .avatar{
        float: right;
        height: @lwQuoteBubbleAvatarSize;
        width: @lwQuoteBubbleAvatarSize;
        background-color: darken(@btn-default-bg, 5%);
        border: @lwQuoteBubbleAvatarSize/15 solid fade(darken(@btn-default-bg, 15%), 55%);
        border-radius: 50%;
        img, .img-wrapper{
            border-radius: 50%;
        }
    }

    .user-info{
        .clearfix();
        text-align: right;
        padding-right: @grid-gutter-width/2 + @lwQuoteBubbleTriangleRightPadding - (@lwQuoteBubbleAvatarSize/2 - @grid-gutter-width/2);
        .info{
            padding-right: @lwQuoteBubbleAvatarSize + @grid-gutter-width/3;
            h4{
                margin-top: 10px;
                margin-bottom: 5px;
            }
            a{
                .text-primary;
            }
            p, a{
                font-size: 0.85em;
                text-indent: 0px;
            }
        }
    }

    ._variant(@color){
        .quote-bubble{
            ._quote-bubble-variant(@color);
        }
        .avatar{
            background-color: darken(@color, 5%);
            border-color: fade(darken(@color, 15%), 55%);
        }
        .user-info{
            .info{
                a{
                    color: @color;
                    &:hover{
                        color: lighten(@color, 5%);
                    }
                }
            }
        }
    }


    //
    &.primary{
        ._variant(@brand-primary);
    }
    &.warning{
        ._variant(@brand-warning);
    }
    &.danger{
        ._variant(@brand-danger);
    }
    &.info{
        ._variant(@brand-info);
    }
    &.success{
        ._variant(@brand-success);
    }
    &.gray{
        ._variant(lighten(@gray-dark, 25%));
    }
}

.lw-video-modal{

}

lw-video{
    display: block;
    .placeholder{
        position: relative;
        background-color: rgba(255,255,255,0.2);
        .load-video{
            position: absolute;
            cursor: pointer;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 15%;
            text-align: center;
            &>div{
                //display: table-cell;
                //vertical-align: middle;
                text-align: center;
                color: black;
                text-shadow: 0px 0px 7px white;
            }
            &:hover{
                .fab, .far, .fas{
                    color: #CC181E;
                }
            }
        }
    }
}

.nocontent{
    background: rgba(94,94,94,0.7);
    text-align: center;
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}


*[lw-viewport-enter-class]{
    visibility: hidden;
    &.lw-viewport-enter-class-visible{
        visibility: visible;
    }
}

*[lw-viewport-enter-function]{
    visibility: hidden;
    &.lw-viewport-enter-function-visible{
        visibility: visible;
    }
}

.lw-gdpr-request-modal{

}

lw-filter-bool{
    display: block;

}

lw-filter-custom{
    display: block;

}

lw-filter-date{
    display: block;
}

lw-filter-number{
    display: block;

}


lw-filter-set{
    display: block;

}

.lw-filter-clear-default{
    .label{
        margin-right: @grid-gutter-width / 2;
        margin-bottom: @grid-gutter-width / 5;
        opacity: 1;
        cursor: pointer;
        display: inline-block;
        &.label-primary:hover{
            background-color: @label-danger-bg;
            transition: all 0.2s;
        }
    }
    .ng-hide {
      opacity: 0;
    }

    .ng-hide-add,
    .ng-hide-remove {
      transition: all linear 0.5s;
    }
}


.material-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        box-shadow: 0 7px 14px rgba(0,0,0,0.20), 0 5px 5px rgba(0,0,0,0.15);
    }
}

.material-shadow-2{
    box-shadow: 0 6px 10px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        box-shadow: 0 7px 16px rgba(0,0,0,0.20), 0 5px 7px rgba(0,0,0,0.15);
    }
}


@material-fab-btn-size: 56px;

.btn-material-fab{
    border-radius: 50%;
    font-size: @material-fab-btn-size/2;
    height: @material-fab-btn-size;
    min-width: @material-fab-btn-size;
    width: @material-fab-btn-size;
    margin: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: @material-fab-btn-size;
    .fa, .fas, .far, .fab{
        line-height: 0px;
        //line-height: @material-fab-btn-size - 2px;
        font-size: @material-fab-btn-size/2;
        padding:0px;
    }
}
