img.AngularJS-small {
  width: 95px;
  height: 25px;
}

.breadcrumb {
  padding-top: 6px;
  padding-bottom: 0;
  line-height: 18px
}

.footer {
  padding-top: 2em;
  background-color: #333;
  color: white;
  padding-bottom: 2em;
}

.spacer {
  height: 1em;
}

.ngdocs-body{
    background: white !important;
}
.ngdocs-body .form-search .form-control{
    border-radius: 100px;
}
.ngdocs-sidebar .list-group{
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.ngdocs-sidebar .list-group:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.ngdocs-sidebar .list-group .list-group-item{
    padding: 2px 10px;
}
.ngdocs-sidebar .list-group .list-group-item.active a{
    color: white;
}
.ngdocs-sidebar .list-group .list-group-item.active{
    color: white;
}
.ngdocs-sidebar .list-group .list-group-item-success{
    background-color: #6dc14a;
    border-color: #6dc14a;
}
.ngdocs-sidebar .list-group a {
    color: #337ab7;
}
.ngdocs-sidebar .list-group .list-group-item-success a{
    color: white;
}

.ngdocs-sidebar .list-group-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ngdocs-sidebar .list-group-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.ngdocs-sidebar .list-group .list-group-item.section{
    text-align: right;
    font-weight: bold;
    background: #eeeeee;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: default;
    font-size: 13px;
}
#ngdocs-sidebar-content{
    overflow: auto;
    max-height: 82vh;
}
.ngdocs-body .prettyprint .linenums{
    padding-left: 0px;
}
.ngdocs-body header{
    opacity: 0.98;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

/* =============================== */

.form-search .dropdown-menu {
  margin-left: 10px;
}

.form-search .code {
  font-family: monospace;
  font-weight: bold;
  font-size: 13px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* =============================== */
/*            Content              */
/* =============================== */

.edit-example {
  margin-top: 9px;
}

.improve-docs, .view-source, .edit-example {
  float: right;
  margin-left: 35px;
  position: relative;
}

.improve-docs i, .view-source i, .edit-example i {
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -.5em;
  text-decoration: none !important;
}

.methods .view-source {
  margin: -0.5em 0 0 0;
  text-decoration: none !important;
}

.hint {
  font-size: .6em;
  color: #c0c0c0;
  display: block;
}

.content code {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font-size: inherit;
  font-family: monospace;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  margin: 1em 0 5px;
}

.content h1 {
  font-size: 30px;
  line-height: 36px;
}

.content h2 {
  font-size: 24px;
  line-height: 36px;
}

.content h3 {
  line-height: 27px;
  font-size: 18px;
}

.content h4 {
  font-size: 15px;
}

ul.parameters > li > p,
.returns > p {
  display: inline;
}

ul.methods > li,
ul.properties > li,
ul.events > li {
  list-style: none;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.member.method > h2,
.member.property > h2,
.member.event > h2 {
  margin-bottom: .5em;
}

ul.methods > li > h3,
ul.properties > li > h3,
ul.events > li > h3 {
  margin: -19px -19px 1em -19px;
  padding: .25em 39px .25em 19px;
  background-color: #d3d3d3;
  font-family: monospace;
}

.center {
  display: block;
  margin: 2em auto;
}

.diagram {
  display: block;
  margin: 2em auto;
  padding: 1em;
  border: 1px solid black;

  -moz-box-shadow: 4px 4px 6px #48577D;
  -webkit-box-shadow: 4px 4px 6px #48577D;
  box-shadow: 4px 4px 6px #48577D;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.tutorial-nav {
  margin-left: 175px;
  color: black;
  margin-top: 2em;
  margin-bottom: 2em;
}

.tutorial-nav a {
  color: white;
}

.tutorial-nav a:hover {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
}

.variables-matrix td {
  vertical-align:top;
  padding:5px;
}

.type-hint {
  display:inline-block;
  background: black;
}

.variables-matrix .type-hint {
  text-align:center;
  display:block;
  min-width:60px;
}

.type-hint + .type-hint {
  margin-top:5px;
}

.type-hint-string {
  background:#3a87ad;
}

.type-hint-object {
  background:#999;
}

.type-hint-array {
  background:#F90;
}

.type-hint-boolean {
  background:rgb(18, 131, 39);
}

.type-hint-number {
  background:rgb(189, 63, 66);
}

.type-hint-any{
  background: #b7009d;
}

.type-hint-regexp{
  background: #63c9ff;
}



.btn-list-group-collapse{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50% !important;
  line-height: 0 !important;
  padding: 0 !important;
  text-align: center !important;
}

.btn-list-group-collapse > .fa{
  padding: 0 !important;
  font-size: 1.3em;
}

.btn-list-group-collapse > .fa-angle-left{
  padding-bottom: 1px !important;
}

.inline-block{
    display: inline-block !important;
}
